.hero-button {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  padding: 14px 36px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  font-family: inherit;
}

.block {
  width: 1000px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.auto {
  width: 150px;
  height: 200px;
  background-size: cover;
}

.bmw {
  background-image: url("../../images/bmw.png");
  background-size: cover;
}

.tesla {
  background-image: url("../../images/tesla.png");
  background-size: cover;
}

.lexus {
  background-image: url("../../images/lexus.png");
  background-size: cover;
}

.merc {
  background-image: url("../../images/merc.png");
  background-size: cover;
}

.lanos {
  background-image: url("../../images/lanos.png");
  background-size: cover;
}

.apple {
  background-image: url("../../images/apple.png");
  background-size: cover;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
}

.ellipse-first:hover .service-icon {
  fill: red;
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.wr {
  width: 200px;
  height: 700px;
  background-color: yellow;
}
@media screen and (min-width: 768px) {
  .wr {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    height: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .wr {
    width: 700px;
    gap: 50px;
    height: 200px;
  }
}

.item-wr {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 767.98px) {
  .item-wr {
    margin-bottom: 10px;
  }
}

.thumb {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .thumb {
    background-image: url();
  }
}
@media screen and (min-width: 481px) {
  .thumb {
    background-image: url();
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .thumb {
    background-image: url();
  }
}
@media screen and (min-width: 769px) {
  .thumb {
    background-image: url();
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .thumb {
    background-image: url();
  }
}/*# sourceMappingURL=main.css.map */