:root {
  --primary-font-size: 16px;
  --primary-color: #999999;
  --primary-bg-color: #ffffff;
  --accent-color: #4985ff;
  --main-title-color: #323232;
  --secondary-text-color: #ffffff;
  --main-black-color: #000000;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--primary-font-size);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  display: block;
  padding: 40px 20px;
  font-weight: 500;
  line-height: calc(20 / 16);
  color: var(--secondary-text-color);
  /* background-color: black;  */
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* background-color: gray; */
  border-bottom: 1px solid #a1a1a1;
}
/* .current::after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
} */
.current:hover::after {
  opacity: 1;
}

.swiper {
  width: 600px;
  height: 300px;
}
.hero {
  background-color: var(--primary-color);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Rectangle.jpg);
  /* max-width: 1920px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 319px 0 335px 0;
}
.hero-pretitle {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: calc(20 / 16);
  color: var(--secondary-text-color);
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  width: 830px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: calc(64 / 48);
  text-align: center;
  color: var(--secondary-text-color);
}
.main-button {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  padding: 14px 36px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  font-family: inherit;
}

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-title {
  width: 739px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(53 / 36);
  text-align: center;
  color: var(--main-title-color);
}
.services-text {
  width: 730px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  width: 730 px;
  color: var(--main-text-color);
  margin: 0 auto;
  margin-bottom: 70px;
}
.services-list {
  display: flex;
  margin-bottom: 55px;
  gap: 30px;
}
.ellipse-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 17px;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.ellipse-second {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #4985ff;
}
.services-work-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--main-black-color);
}
.services-item {
  display: flex;
}
.text-wrap {
  padding-top: 46px;
}
.service-icon {
  fill: var(--accent-color);
}
.ellipse-first:hover .service-icon {
  fill: red;
  cursor: pointer;
}
/* .services{
    background-repeat: no-repeat;
    background-size: 100% 30%, 100% 50%;
    background-position: center bottom, center top;
    background-image: 
    linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%),
    linear-gradient(90deg, #0cd31d 20.44%, #28742e 80.91%);
} */
@keyframes first-animation {
  0% {
    transform: translate(0, 0);
    color: white;
  }
  25% {
    transform: translate(50px, 0px);
    color: red;
  }
  50% {
    transform: translate(50px, 50px);
    color: aqua;
  }
  75% {
    transform: translate(0, 50px);
    color: green;
  }
  100% {
    transform: translate(0px, 0px);
    color: white;
  }
}
/* .current {
  animation: first-animation 4000ms linear infinite;
}
.anim1 {
  animation: fadeIn 2000ms infinite;
}
.anim2 {
  animation: bounce 2000ms infinite;
}
.anim3 {
  animation: shakeX 2000ms infinite;
}
.anim4 {
  animation: jello 2000ms infinite;
} */

.top-button {
  display: block;

  position: fixed;
  right: 50px;
  bottom: 50px;

  width: 20px;
  height: 20px;
  background-color: red;
}
.toggle-button{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transition: transform 250ms linear;

}
.toggle-wrap{
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 35px;
  background-color: grey;
  transition: background-color 250ms linear;

}
.hidden{
  appearance: none;
}
.hidden:checked + .toggle-wrap .toggle-button{
  transform: translate(40px, -50%);

}
.hidden:checked + .toggle-wrap{
  background-color: green;
}